{% comment %}
  Pickup Availability Snippet
  Displays store pickup availability information
{% endcomment %}

<div class="pickup-availability">
  <div class="pickup-availability__header">
    <h3 class="pickup-availability__title">{{ 'products.pickup_availability.title' | t }}</h3>
  </div>
  <div class="pickup-availability__content">
    <p class="pickup-availability__text">{{ 'products.pickup_availability.unavailable' | t }}</p>
  </div>
</div>