{% comment %}
Page Template - RecoverSups Theme
{% endcomment %}

<div class="page-width page-content">
  <header class="section-header text-center">
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header>
  
  <div class="rte">
    {{ page.content }}
  </div>
</div>