{% comment %}
  Search Template
  Enhanced search results template
{% endcomment %}

{% paginate search.results by 24 %}
<div class="search-template">
  {% section 'main-search' %}
</div>
{% endpaginate %}